/*Architects Daughter is handwriting style */
/*font-family: 'Architects Daughter', cursive;
font-family: 'Rajdhani', sans-serif;*/

body{
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
  color:white;
}
