/*Architects Daughter is handwriting style */
/*font-family: 'Architects Daughter', cursive;
font-family: 'Rajdhani', sans-serif;*/
/* matrix green:#03A062*/

body{
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
}

div{
  padding: 20px;
  border
  justify-content: center;
  align-items: center;

}

p{
  filter:blur(0px);
  color:white;
}

div.plan1 p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    font-size: 20px;

 }

 .plan1{
   padding: 30%;
   padding-top: 30px;
   padding-bottom: 10px;
   height: 10em;
 }

.plan2{
  padding: 25%;
  padding-top: 150px;
  padding-bottom: 10px;
  filter: blur(1px);
  text-shadow: 0 0 6px #fff;
  font-size: 30px;

}

/*plan2 text align*/
.center{
  text-align: center;
}

.buttonplan2{
  padding: 25%;
  padding-top: 0px;
  padding-bottom: 50px;
  font-size: 30px;

}
.button{
  color:black;
  text-decoration: none;
  font-size: 15px;

  animation: church 3.5s linear infinite;
  transition: 0.3s;
}
.button:hover{
  font-size: 25px;
  color:white;
  animation-play-state: paused;
}

/*glimmer effect*/
span{
  color:#111;
  white-space: pre;
  text-shadow: 0;
  animation: animate 1s linear infinite;
  filter: blur(0px);
}
span:nth-child(1){
  animation-delay: 0s;
}
span:nth-child(2){
  animation-delay: 0,4s;
}
span:nth-child(3){
  animation-delay: 0.6s;
  animation-duration: 1s;
}
span:nth-child(4){
  animation-delay: 0.4s;
}
span:nth-child(5){
  animation-delay: 0.8s;
}
span:nth-child(6){
  animation-delay: 0.1s;
}
span:nth-child(7){
  animation-delay: 0s;
}
span:nth-child(8){
  animation-delay: 0,2s;
}
span:nth-child(9){
  animation-delay: 0.6s;
  animation-duration: 1s;
}
span:nth-child(10){
  animation-delay: 0.4s;
}
span:nth-child(11){
  animation-delay: 0.8s;
}
span:nth-child(12){
  animation-delay: 0.1s;
}
@keyframes animate{
  0%,3%{
    color:#111
    filter: blur(1px);
    text-shadow: 0 0 6px #111;
  }
  5%,7%{
    color:#fff;
    filter: blur(0px);
    text-shadow: 0 0 10px #fff;
  }
  30%,32%{
    color:#111
    filter: blur(0px);
    text-shadow: 0 0 6px #111;
  }

  40%,42%{
    color:#fff;
    filter: blur(0px);
    text-shadow: 0 0 10px #fff;
  }
  50%,60%{
    color:#111
    filter: blur(0px);
    text-shadow: 0 0 6px #111;
  }
  60%,65%{
    color:#fff;
    filter: blur(0px);
    text-shadow: 0 0 6px #fff;
  }
  100%{
    color:#fff;
    filter: blur(0px);
    text-shadow: 0 0 6px #fff;
  }

}

/*button hyperlink animation*/
@keyframes church {
  70%{
    color:white;
    text-shadow: 0 0 2px #fff;
  }
  100%{
    color:black;
    text-shadow: 0 0 2px #111;
  }

}
